<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="4.8.0" targetFramework="net471" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net471" />
  <package id="Fare" version="2.1.1" targetFramework="net471" />
  <package id="FluentAssertions" version="5.6.0" targetFramework="net471" />
  <package id="NUnit" version="3.11.0" targetFramework="net471" />
</packages>