@using Newtonsoft.Json
@{
    var serverModel = new[]
    {
        new {Name = "<script>alert(1);</script>"},
        new {Name = "<script>alert(2);</script>"}
    };
    var json = JsonConvert.SerializeObject(serverModel, new JsonSerializerSettings
    {
        StringEscapeHandling = StringEscapeHandling.EscapeHtml
    });
}
<html>
<body>

<pre id="content"></pre>
<script>
var clientModel = @Html.Raw(json);
var content = document.getElementById("content");
content.innerText = clientModel.map(e => e.Name).join("\n");
</script>

</body>
</html>
<!-- https://stackoverflow.com/a/48421400 -->